<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>HTML forms</h2>


    <form action="/submit" method="post">
        <label for="Science">Science:</label><br>
        <input type="text" id="science" name="science" value="0"><br>
        <label for="Math">Math:</label><br>
        <input type="text" id="math" name="math" value="0"><br>
        <label for="C">C:</label><br>
        <input type="text" id="c" name="c" value="0"><br>
        <label for="ds">ds:</label><br>
        <input type="text" id="ds" name="ds" value="0"><br>
        <input type="submit" value="Submit">
    </form>
    <p>if you click "Submit" button, the form data will be sent to a page</p>

</body>
</html>